<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="suite" verbose="1">
	<test name="test_1">
		<classes>
			<class name="idv.hsiehpinghan.resourceutility.suit.TestngSuitSetting" />
			<class name="idv.hsiehpinghan.resourceutility.utility.ResourceUtilityTest" />
			<class name="idv.hsiehpinghan.resourceutility.utility.CsvUtilityTest" />
		</classes>
	</test>
</suite>